@model IEnumerable<Product>;

@{
    ViewData["Title"] = "Index";
}

<h1>Coffee shop!</h1>

<table>
    <thead>
        <tr>
            <th>Product Details</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product prod in Model){
            <tr>
                <td><a href="/Product/Detail?id=@prod.id">@prod.name</a></td>
            </tr>
        }
    </tbody>

</table>




<table>
    <thead>
        <tr>
            <th>Product Category</th>
        </tr>
    </thead>

    <tbody>
        @*@foreach (Product prod in (IEnumerable<Product>)ViewData["categories"]){
            <tr>
                <td>@prod.name</td>
            </tr>
            }*@

        @foreach (Product prod in Model){
            <tr>
                <td><a href="/Product/Category?category=@prod.category">@prod.category</a></td>
            </tr>
        }
    </tbody>

</table>